/*dark page*/
$bg-main1: rgba(110, 110, 110, 0.7);
$bg-sec1: rgba(30, 30, 30, 0.5);
$main-font1: white;

$button-font1: #404040;
$button-frame1: #909090;
$button-bg1: white;


/*light page*/
$bg-main2: white;
$bg-sec2: rgba(50, 50, 50, 0.7);
$main-font2: #404040;

$button-font2: white;
$button-frame2: white;
$button-bg2: #909090;
